.products {
    height: 100%;
    list-style: outside none none;
    margin-left: 263px;
    padding: 0;
}

.products li {
    display: inline;
    float: left;
    margin: 7.5px;
}

.item {
    display: block;
    text-decoration: none;
}

.item img {
    border: 1px solid #333;
    margin-bottom: 4px;
}

.item p {
    color: #333;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.cart .remove:hover {
    cursor: pointer;
}

#addAnimation {
    left: 98px;
    position: absolute;
    top: 45px;
}

#addAnimation img {
    position: absolute;
}

.total {
    color: #fff;
    font-size: 12px;
    margin: 15px 0 0;
    padding-right: 15px;
    text-align: right;
    visibility: hidden;
}

.btn {
    float: right;
    margin: 0 7.5px 7.5px 0;
}

#cartcontent {
    width: 100%;
}

#space {
    height: 20px;
}

.cart table tr {
    height: 2px;
}

.cart table tr td div {
    font-size: 10px;
}

.cart table tr td:first-child div {
    margin-left: 2px;
    width: 72px;
}

.cart table tr td .X {
    background: black none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    font-size: 7.5px;
    font-weight: bold;
    line-height: 16.5px;
    margin-left: 3px;
    opacity: 0.9;
    width: 93%;
}

.X:hover {
    cursor: pointer;
}

.tableLabelText {
    height: 4px;
    margin: 0;
}