.panel {
    border: 0 none;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
    text-align: left;
}
.panel-header, .panel-body {
    border-style: solid;
    border-width: 1px;
}
.panel-header {
    padding: 5px;
    position: relative;
}
.panel-title {
    background: rgba(0, 0, 0, 0) url("images/blank.gif") no-repeat scroll 0 0;
}
.panel-header-noborder {
    border-width: 0 0 1px;
}
.panel-body {
    border-top-width: 0;
    overflow: auto;
    padding: 0;
}
.panel-body-noheader {
    border-top-width: 1px;
}
.panel-body-noborder {
    border-width: 0;
}
.panel-body-nobottom {
    border-bottom-width: 0;
}
.panel-with-icon {
    padding-left: 18px;
}
.panel-icon, .panel-tool {
    height: 16px;
    margin-top: -8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
}
.panel-icon {
    left: 5px;
    width: 16px;
}
.panel-tool {
    right: 5px;
    width: auto;
}
.panel-tool a {
    display: inline-block;
    height: 16px;
    margin: 0 0 0 2px;
    opacity: 0.6;
    vertical-align: top;
    width: 16px;
}
.panel-tool a:hover {
    background-color: #eaf2ff;
    border-radius: 3px;
    opacity: 1;
}
.panel-loading {
    padding: 11px 0 10px 30px;
}
.panel-noscroll {
    overflow: hidden;
}
.panel-fit, .panel-fit body {
    border: 0 none;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.panel-loading {
    background: rgba(0, 0, 0, 0) url("images/loading.gif") no-repeat scroll 10px 10px;
}
.panel-tool-close {
    background: rgba(0, 0, 0, 0) url("images/panel_tools.png") no-repeat scroll -16px 0;
}
.panel-tool-min {
    background: rgba(0, 0, 0, 0) url("images/panel_tools.png") no-repeat scroll 0 0;
}
.panel-tool-max {
    background: rgba(0, 0, 0, 0) url("images/panel_tools.png") no-repeat scroll 0 -16px;
}
.panel-tool-restore {
    background: rgba(0, 0, 0, 0) url("images/panel_tools.png") no-repeat scroll -16px -16px;
}
.panel-tool-collapse {
    background: rgba(0, 0, 0, 0) url("images/panel_tools.png") no-repeat scroll -32px 0;
}
.panel-tool-expand {
    background: rgba(0, 0, 0, 0) url("images/panel_tools.png") no-repeat scroll -32px -16px;
}
.panel-header, .panel-body {
    border-color: #95b8e7;
}
.panel-header {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #eff5ff 0px, #e0ecff 100%) repeat-x scroll 0 0;
}
.panel-body {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
}
.panel-title {
    color: #0e2d5f;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
}
.panel-footer {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #95b8e7;
    overflow: hidden;
}
.panel-footer-noborder {
    border-width: 1px 0 0;
}
.datagrid .panel-body {
    overflow: hidden;
    position: relative;
    z-index: 9999;
}
.datagrid-view {
    overflow: hidden;
    position: relative;
}
.datagrid-view1, .datagrid-view2 {
    overflow: hidden;
    position: absolute;
    top: 0;
}
.datagrid-view1 {
    left: 0;
}
.datagrid-view2 {
    right: 0;
}
.datagrid-mask {
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}
.datagrid-mask-msg {
    border-style: solid;
    border-width: 2px;
    display: none;
    height: 16px;
    margin-top: -20px;
    padding: 10px 5px 10px 30px;
    position: absolute;
    top: 50%;
    width: auto;
}
.datagrid-sort-icon {
    padding: 0;
}
.datagrid-toolbar {
    border-style: solid;
    border-width: 0 0 1px;
    height: auto;
    padding: 1px 2px;
}
.datagrid-btn-separator {
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    float: left;
    height: 24px;
    margin: 2px 1px;
}
.datagrid .datagrid-pager {
    border-style: solid;
    border-width: 1px 0 0;
    display: block;
    margin: 0;
}
.datagrid .datagrid-pager-top {
    border-width: 0 0 1px;
}
.datagrid-header {
    border-style: solid;
    border-width: 0 0 1px;
    cursor: default;
    overflow: hidden;
}
.datagrid-header-inner {
    float: left;
    width: 10000px;
}
.datagrid-header-row, .datagrid-row {
    height: 25px;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-style: dotted;
    border-width: 0 1px 1px 0;
    margin: 0;
    padding: 0;
}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0;
    overflow: hidden;
    overflow-wrap: normal;
    padding: 0 4px;
    white-space: nowrap;
}
.datagrid-header .datagrid-cell {
    height: auto;
}
.datagrid-header .datagrid-cell span {
    font-size: 12px;
}
.datagrid-cell-group {
    text-align: center;
}
.datagrid-header-rownumber, .datagrid-cell-rownumber {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 25px;
}
.datagrid-body {
    margin: 0;
    overflow: auto;
    padding: 0;
}
.datagrid-view1 .datagrid-body-inner {
    padding-bottom: 20px;
}
.datagrid-view1 .datagrid-body {
    overflow: hidden;
}
.datagrid-footer {
    overflow: hidden;
}
.datagrid-footer-inner {
    border-style: solid;
    border-width: 1px 0 0;
    float: left;
    width: 10000px;
}
.datagrid-row-editing .datagrid-cell {
    height: auto;
}
.datagrid-header-check, .datagrid-cell-check {
    font-size: 1px;
    height: 18px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 27px;
}
.datagrid-header-check input, .datagrid-cell-check input {
    height: 18px;
    margin: 0;
    padding: 0;
    width: 15px;
}
.datagrid-resize-proxy {
    cursor: e-resize;
    display: none;
    height: 10000px;
    position: absolute;
    top: 0;
    width: 1px;
}
.datagrid-body .datagrid-editable {
    margin: 0;
    padding: 0;
}
.datagrid-body .datagrid-editable table {
    height: 100%;
    width: 100%;
}
.datagrid-body .datagrid-editable td {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.datagrid-view .datagrid-editable-input {
    border: 1px solid #95b8e7;
    border-radius: 0;
    font-size: 12px;
    margin: 0;
    outline-style: none;
    padding: 2px 4px;
}
.datagrid-sort-desc .datagrid-sort-icon {
    background: rgba(0, 0, 0, 0) url("images/datagrid_icons.png") no-repeat scroll -16px center;
    padding: 0 13px 0 0;
}
.datagrid-sort-asc .datagrid-sort-icon {
    background: rgba(0, 0, 0, 0) url("images/datagrid_icons.png") no-repeat scroll 0 center;
    padding: 0 13px 0 0;
}
.datagrid-row-collapse {
    background: rgba(0, 0, 0, 0) url("images/datagrid_icons.png") no-repeat scroll -48px center;
}
.datagrid-row-expand {
    background: rgba(0, 0, 0, 0) url("images/datagrid_icons.png") no-repeat scroll -32px center;
}
.datagrid-mask-msg {
    background: #ffffff url("images/loading.gif") no-repeat scroll 5px center;
}
.datagrid-header, .datagrid-td-rownumber {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f9f9f9 0px, #efefef 100%) repeat-x scroll 0 0;
}
.datagrid-cell-rownumber {
    color: #000000;
}
.datagrid-resize-proxy {
    background: #aac5e7 none repeat scroll 0 0;
}
.datagrid-mask {
    background: #ccc none repeat scroll 0 0;
}
.datagrid-mask-msg {
    border-color: #95b8e7;
}
.datagrid-toolbar, .datagrid-pager {
    background: #f4f4f4 none repeat scroll 0 0;
}
.datagrid-header, .datagrid-toolbar, .datagrid-pager, .datagrid-footer-inner {
    border-color: #dddddd;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-color: #ccc;
}
.datagrid-htable, .datagrid-btable, .datagrid-ftable {
    border-collapse: separate;
    color: #000000;
}
.datagrid-row-alt {
    background: #fafafa none repeat scroll 0 0;
}
.datagrid-row-over, .datagrid-header td.datagrid-header-over {
    background: #eaf2ff none repeat scroll 0 0;
    color: #000000;
    cursor: default;
}
.datagrid-row-selected {
    background: #ffe48d none repeat scroll 0 0;
    color: #000000;
}
.datagrid-row-editing .textbox, .datagrid-row-editing .textbox-text {
    border-radius: 0;
}